    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700&family=Varela+Round&display=swap");

    /*===== VARIABLES CSS =====*/
    :root {
        --dark-color-lighten: #393053;
        --btn: #141414;
        --btn-hover: #3a3a3a;
        --text: #141414;
    }

    /*===== RESET =====*/
    *,
    ::before,
    ::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: "Tajawal", Arial;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        /* width: 100vw; */
        background-color: var(--dark-color-lighten);
    }

    button {
        font-family: "Tajawal", Arial;
        display: inline-block;
        border: none;
        outline: none;
        border-radius: 0.2rem;
        color: var(--text);
        cursor: pointer;
    }

    a {
        text-decoration: none;
    }
    .product-info p{
        color: #625e59;
    }

    img {
        max-width: 100%;
        height: 100%;
        user-select: none;
    }

    /*===== CARD =====*/
    .container {
        padding-right: 0 !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .card {
        font-family: "Tajawal", Arial;
        position: relative;
        padding: 1.5rem 1.5rem 0 1.5rem;
        width: 309px;
        box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
        background-color: #bbbbbb;
        cursor: pointer;
        --bs-card-border-radius: none;
    }


    .product-image {
        height: 230px;
        width: 100%;
        filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    }

    .product-info {
        text-align: left;
    }

    .product-info h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    .product-info h2:hover {
        color: #d94a45;
    }


    .price {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .buy-btn {
        background-color: var(--btn);
        padding: 0.6rem 3.5rem;
        font-weight: 600;
        font-size: 1rem;
        transition: 300ms ease;
    }

    .buy-btn:hover {
        background-color: var(--btn-hover);
    }

    .fav {
        box-sizing: border-box;
        background: #fff;
        padding: 0.4rem 0.4rem;
        border: 1px solid#000;
        display: grid;
        place-items: center;
    }

    .svg {
        height: 25px;
        width: 25px;
        fill: #fff;
        transition: all 500ms ease;
    }

    .fav:hover .svg {
        fill: #000;
    }

    @media screen and (max-width: 800px) {
        body {
            height: auto;
        }

        .container {
            padding: 2rem 0;
            width: 100%;
            flex-direction: column;
            gap: 3rem;
        }
    }

    .card {
        vertical-align: top;
        margin-top: 79px;
        text-align: center;
    }

    .card .product-image {
        height: 200px;
        margin-bottom: 10px;
    }


    .card .price {
        margin-bottom: 10px;
    }

    .card .buy-btn {
        border: none;
        color: #fff;
        cursor: pointer;
        margin-right: 5px;
    }

    .card .fav {
        background-color: #f8f8f8;
        border: none;
        cursor: pointer;
    }
    .product-catagory {
        text-align: left;
        display: block;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 14px;
        color: #8b8b8b;
    }