#console {
    display: none;
}

#dialog {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    transition: visibility 0s linear 0.5s, opacity 0.5s linear;
    opacity: 0;
    visibility: hidden;
}

.dialog_state {
    visibility: hidden;
    opacity: 0;
    display: none;
}

.dialog_state:checked+#dialog,
#dialog.dialog_open {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible;
}

.dialog_state:checked+#dialog #dlg-wrap {
    max-height: 24rem;
    opacity: 1;
    padding: 2rem;
}

#dlg-wrap {
    position: relative;
    z-index: 1;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 640px;
    padding: 2rem;
    border-radius: 0.25rem;
    background: #fff;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
    transition: all .5s;
}

#dlg-close {
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
}

#dlg-content {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.015em;
    color: black;
}

#dlg-prompt .button {
    margin: 1rem 0.5rem;
    border-radius: 1.5rem;
}

.dialog_state:checked~.main_area,
.main_area.dialog_open {
    filter: blur(6px);
}

.button,
a.button {
    display: inline-block;
    padding: 0.27em 3em; 
    box-sizing: border-box;
    font-size: bold;
    background: #000;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.2em;
    line-height: 2rem;
    font-family: Raleway, Open Sans, Arial;
    font-weight: 300;
    font-size: 0.85em;
    border-radius: 4px;
    transition: .1s all;
    cursor: pointer;
}

.button:hover,
a.button:hover {
    color: #555;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    /*transform: scale(1.01);*/
}

.button.positive,
a.button.positive {
    border-color: #6199B7;
    color: #6199B7;
}

.button.positive:hover,
a.button.positive:hover {
    border-color: #468FB6;
    color: #fff;
    background-color: #468FB6;
}

.icon {
    vertical-align: middle;
    line-height: inherit;
    font-size: 1.75em;
}




#dlg-wrap h2 {
    font: 800 2em/1em Raleway, Open Sans, Arial, Sans-Serif;
    text-transform: uppercase;
    letter-spacing: 0.0em;
    margin: 2rem 0 0.5rem;
    color: black;
}


/* Console */
#console {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background: #f0f0f0;
    color: #606060;
    font: 400 13px/16px Open Sans;
    letter-spacing: 0em;
    text-align: left;
    padding: 2px;
    overflow-y: scroll;
    
}

#console p {
    margin: 0;
    padding: 0;
}

#console p em {
    font-style: none;
    font-weight: 700;
}